/* win32_res.rc V1.2.0
 *
 * Win32 resources for TIKI-100_emul
 * Copyright (C) Asbjorn Djupdal 2000-2001
 */

#include <windows.h>
#include "win32_res.h"
#include "TIKI-100_emul.h"
#include "version.h"

menu MENU {
   POPUP "&Emulator" {
      MENUITEM "&Reset", IDM_RESET
      MENUITEM "&Settings...", IDM_INNSTILLINGER
      MENUITEM "&About...", IDM_OM
      MENUITEM "E&xit", IDM_AVSLUTT
   }
   POPUP "&Disk drive" {
      MENUITEM "Load disk &A...", IDM_HENT_A
      MENUITEM "Load disk &B...", IDM_HENT_B
      MENUITEM "Save disk A...", IDM_LAGRE_A, GRAYED
      MENUITEM "Save disk B...", IDM_LAGRE_B, GRAYED
      MENUITEM "Eject disk A", IDM_FJERN_A
      MENUITEM "Eject disk B", IDM_FJERN_B
   }
   POPUP "&Hard disk" {
      MENUITEM "Load HDD &0...", IDM_HENT_HDD0
      MENUITEM "Load HDD &1...", IDM_HENT_HDD1
      MENUITEM "Eject HDD 0", IDM_FJERN_HDD0
      MENUITEM "Eject HDD 1", IDM_FJERN_HDD1
   }
#ifdef DEBUG
   POPUP "&Debug" {
      MENUITEM "&Monitor...", IDM_MONITOR
   }
#endif
   POPUP "&Help" {
      MENUITEM "&Keyboard shortcuts...", IDM_HELP
   }
}

dialog DIALOG DISCARDABLE  30, 30, 269, 137
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TIKI-100 Emulator settings"
{
    DEFPUSHBUTTON   "OK", IDD_OK, 155, 114, 50, 14
    PUSHBUTTON      "Cancel", IDD_AVBRYT, 211, 114, 50, 14

    AUTOCHECKBOX    "Limit speed", IDD_HASTIGHET, 7, 7, 63, 10

    GROUPBOX        "Screen scaling", -1, 7, 26, 121, 78
    EDITTEXT        IDD_40EDIT, 21, 42, 25, 14, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER
    EDITTEXT        IDD_80EDIT, 21, 61, 25, 14, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER
    LTEXT           "40 column screen", -1, 55, 45, 65, 8
    LTEXT           "80 column screen", -1, 55, 64, 65, 8
    AUTOCHECKBOX    "Keep aspect ratio", IDD_BEVARFORHOLD, 21, 80, 75, 10

    GROUPBOX        "Ports", -1, 133, 9, 128, 95
    AUTOCHECKBOX    "Set ST 28 b", IDD_ST28B, 145, 23, 56, 10
    EDITTEXT        IDD_P1EDIT, 145, 42, 42, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P2EDIT, 145, 61, 42, 14, ES_AUTOHSCROLL
    EDITTEXT        IDD_P3EDIT, 145, 80, 42, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Serial port P1", IDD_P1, 193, 45, 63, 8
    AUTOCHECKBOX    "Serial port P2", IDD_P2, 193, 64, 63, 8
    AUTOCHECKBOX    "Parallel port P3", IDD_P3, 193, 83, 68, 8
}

icon ICON win32.ico

/* application manifest for visual styles + DPI */
1 24 "tikiemul.exe.manifest"

1 VERSIONINFO
FILEVERSION     VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
PRODUCTVERSION  VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Arctic Retro"
            VALUE "FileDescription",  "TIKI-100 Emulator"
            VALUE "FileVersion",      VERSION_STR
            VALUE "InternalName",     "tikiemul"
            VALUE "LegalCopyright",   "Arctic Retro - Copyright (C) Asbjørn Djupdal 2000-2001"
            VALUE "OriginalFilename", "tikiemul.exe"
            VALUE "ProductName",      "TIKI-100 Emulator"
            VALUE "ProductVersion",   VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
